body {
  margin: 20px;
  padding: 0;
  background-color: #e8e8e8;
}


ul.list {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}


ul.list li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: -1px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button {
  border: 1px solid #ccc;
  padding: 5px 10px;
  display: inline-block;
  margin: 5px 10px 5px 0;
}
